doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-lti-provider
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='nodejs-lti-provider')
    meta(name='author', content='Kyle Martin')
  body
    h1 Welcome to the example application, you are connected as #{username}. You have come from #{ltiConsumer} where you userId is #{userId}.
    hr
