doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-lti-provider
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='nodejs-lti-provider')
    meta(name='author', content='Kyle Martin')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
      .container
        a.navbar-brand(href='#') Node.js LTI demo
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
    .container
      .row
        .col-lg-12.text-center
          h1.mt-5 Welcome, #{username}
          p.lead You have come from #{ltiConsumer} where your userId is #{userId}.
          p Congrats on your successful LTI connection
